.BookDetails {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: flex-start;
  }
  
  .Details {
    display: flex;
    flex-direction: row;
  }
  
  .Cover {
    flex: 1;
    padding-right: 20px;
  }
  
  .Cover img {
    width: 300px;
    height: 100%;
  }
  
  @media only screen and (max-width: 600px) {
    .Details{
      flex-direction: column;
    }
    .Cover{
      display: flex;
      justify-content: center;
    }
  }


  .BookInfo {
    flex: 1;
  }
  
  .Title,
  .Author,
  .Description {
    margin: 0;
  }
  
  .Reviews {
    margin-top: auto;
  }

  .AddReview{
    gap: 5px;
    display: flex;
    flex-direction: column;
  }